<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Create New Servicio</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="/css/styles.css" rel="stylesheet">
</head>

<body class="bodyAuth">
    <div th:replace="/main/CustomNavbar.html"></div>
    <br><br><br>
    <div class="container mt-5">
        <form class="form-signin" method="POST" th:action="@{/servicio/addServicio}" th:object="${servicioModel}">
            <h2 class="form-heading">Add Service</h2>

            <div class="form-group">
            	<input th:field="*{title}" type="text" class="form-control" placeholder="Title" autofocus="true" />
            	<input th:field="*{description}" type="text" class="form-control" placeholder="Description" autofocus="true" />
                <input th:field="*{comment}" type="hidden" class="form-control" placeholder="Comment" autofocus="true" />
                <input th:field="*{finished}" type="hidden" class="form-control" placeholder="Finished" autofocus="true" />
                <input th:field="*{registerDate}" type="date" class="form-control" placeholder="Register Date" />
                <input th:field="*{happeningDate}" type="date" class="form-control" placeholder="Happening Date" />
                <label for="profesionalFamily">Profesional Family:</label> <select name="ProfesionalFamily"
					class="form-control">
					<option th:each="proFamily : ${profesionalFamilies}" th:value="${proFamily.id}"
						th:text="${proFamily.name}"></option>
				</select>
                <!-- Aquí debes agregar los campos para studentId, businessId, profesionalFamilyId, valoration, finished, y comment -->
            </div>

            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" /> <br>
            <div th:if="${error}" class="alert alert-danger">
                <p th:text="${error}"></p>
            </div>
            <button class="btn btn-lg btn-primary" type="submit">Save</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>