<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Your business</title>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
        crossorigin="anonymous">
  <link href="/css/styles.css" rel="stylesheet">
</head>

<body class="bodyBusiness">
  <div th:replace="/main/CustomNavbar.html"></div>

  <div class="info-container">
    <div class="info-block-head">
      <h3>Your Business Information</h3>
    </div>
    <div class="info-block-head">Information Here<br>Information Here<br>Information Here<br>Information Here<br></div>
  </div>

  <div class="info-container2">
    <div class="info-block-head">
      <h3>Your Services</h3>
    </div>
    <div class="info-block2">
      <p align="right">
        <label for="filterBy">Filtrar por:</label>
        <select id="filterBy" name="filterBy">
          <option value="familia_profesional">Familia Profesional del Servicio</option>
          <option value="realizados">Servicios Realizados</option>
          <option value="asignados_no_realizados">Servicios Asignados pero no Realizados</option>
          <option value="no_asignados">Servicios No Asignados</option>
        </select>
      </p>
      <table class="tableBusiness">
        <thead>
          <tr class="tableBusiness">
            <th>Comment</th>
            <th>Description</th>
            <th>Finished</th>
            <th>Title</th>
            <th>Valoration</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="service : ${servicio}">
            <td th:hidden="${service.id}"></td>
            <td th:text="${service.comment}"></td>
            <td th:text="${service.description}"></td>
            <td th:text="${service.finished}"></td>
            <td th:text="${service.title}"></td>
            <td th:text="${service.valoration}"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>

</html>
