<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Your reports</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link href="/css/styles.css" rel="stylesheet">
</head>

<body class="bodyBusiness" th:data-username="${username}">

	<div th:replace="/main/CustomNavbar.html"></div>
	
	<div class="info-container2">
		<div class="info-block-head">
			<h3>Your Reports</h3>
		</div>
		
		<div class="info-block2">
	<form action="#" th:action="@{/business/reports}" method="GET" class="form form-signin">
    <div class="form-row align-items-center">
        <div class="col-auto">
            <select id="familiaProfesional" name="opcion" class="form-control">
                <option value="">Seleccione una familia profesional</option>
                <th:block th:each="family : ${profesionalFamilies}">
                    <option th:value="${family.id}" th:text="${family.name}"></option>
                </th:block>
            </select>
        </div>
        <div class="col-auto">
            <button class="btn btn-primary btn-sm text-uppercase ml-2" type="submit">Filter</button>
        </div>
    </div>
</form>
<br>
			<div style="display: flex; justify-content: space-between;">
				<span>Table with all your reports</span>
			</div>
<br>
			<table class="tableBusiness">
				<thead>
					<tr>
						<th>Date</th>
						<th>Service Name</th>
						<th>Report</th>
						<th>Student Name</th>
						<th>Service Time</th>
					</tr>
				</thead>
				<tbody id="reportTableBody" th:each="report : ${report}">
					<tr>
						<td th:text="${#dates.format(report.fullDate, 'dd/MM/yyyy')}"></td>
						<td th:text="${report.servicioId != null ? report.servicioId.title : ''}"></td>
						<td th:text="${report.report}"></td>
						<td th:text="${report.studentId != null ? report.studentId.name : ''}"></td>
						<td th:text="'&#x231A; ' + ${report.serviceTime} + ' hours'"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</body>

</html>