<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>Your reports</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
<link href="/css/styles.css" rel="stylesheet">
</head>

<body class="bodyBusiness">
	<div th:replace="/main/CustomNavbar.html"></div>

	<div class="info-container2">
		<div class="info-block-head">
			<h3>Your Reports</h3>
		</div>
		<div class="info-block2">
			<div style="display: flex; justify-content: space-between;">
				<span>Table with all your reports</span> <span> <label for="filterByProFamily">Filter by Profesional Family:</label>
<select id="filterByProFamily" name="filterByProFamily">
    <option value="none">None</option>
    <th:block th:each="family : ${profesionalFamilies}">
        <option th:value="${family.name}" th:text="${family.name}"></option>
    </th:block>
</select>

				</span>
			</div>

			<table class="tableBusiness">
				<thead>
					<tr>
						<th>Date</th>
						<th>Service Name</th>
						<th>Report</th>
						<th>Student Name</th>
						<th>Service Time</th>
					</tr>
				</thead>
				<tbody id="reportTableBody" th:each="reports : ${report}">
					<tr data-family-name="${reports.profesionalFamilyId.name}">
						<td th:hidden="${reports.id}"></td>
						<td th:hidden="${reports.servicioId.profesionalFamilyId.name}"></td>
						<td th:text="${reports.fullDate}"></td>
						<td th:text="${reports.servicioId.title}"></td>
						<td th:text="${reports.report}"></td>
						<td th:text="${reports.studentId.name}"></td>
						<td th:text="'&#x231A; ' + ${reports.serviceTime} + ' hours'"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$("#filterByProFamily").change(function() {
    var selectedFamilyName = $(this).val();
    var studentUsername = /* Obtén el valor de #authentication.principal.getUsername() aquí */;

    if (selectedFamilyName === "none") {
        // Si se selecciona "None", redirigir a la página original con el parámetro studentUsername
        window.location.href = "/reports?studentUsername=" + encodeURIComponent(studentUsername);
    } else {
        // Realizar una solicitud AJAX para obtener los informes filtrados
        $.get("/reports/filter", { familyName: selectedFamilyName }, function(data) {
            // Ocultar todas las filas y luego mostrar solo las que coinciden con la familia seleccionada
            $("#reportTableBody tr").hide();
            $.each(data, function(index, report) {
                $("#reportTableBody tr[data-family-name='" + report.servicioId.profesionalFamilyId.name + "']").show();
            });
        });
    }
});
</script>




</body>

</html>
