<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Page where students can add themselves to any available service.</title>
<link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
        crossorigin="anonymous">
  <link href="/css/styles.css" rel="stylesheet">
</head>
<body class="bodyBusiness">
    <div th:replace="/main/CustomNavbar.html"></div>
   <div class="container mt-5">
	    <form method="POST" th:action="@{/student/writeReport}" th:object="${reportModel}">
    <input type="hidden" name="servicioId" th:value="${servicioId}" />
		    <br>
		    <label for="report">Report:</label>
		    <textarea th:field="*{report}"name="report" rows="4" cols="32" ></textarea>
		    <label for="hours">How many hours have you worked?</label>
		    <input th:field="*{serviceTime}" type="number" name="hours" />
		    <br><br>
		    <button type="submit" class="btn-add">Save Report</button>
		    <a th:href="@{/student/viewServices(studentUsername=${#authentication.principal.getUsername()})}" class="btn-cancel">Cancel</a>
		    
		</form>
	</div>
	    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
