<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Page where students can add themselves to any available service.</title>
<link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
        crossorigin="anonymous">
  <link href="/css/styles.css" rel="stylesheet">
  <style
  >.green-background {
    background-color: lightgreen;
}

.light-red-background {
    background-color: lightcoral;
}
  </style>
</head>
<body class="bodyBusiness">
    <div th:replace="/main/CustomNavbar.html"></div>

    <div class="info-container2">
        <div class="info-block-head">
            <h3>Your Services</h3>
        </div>
        <div class="info-block2">
            <p>List of your services from your Profesional Family</p>
            <table class="tableBusiness">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Assign</th>
                        <th>Finished</th>
                        <th>Assigned</th>
                    </tr>
                </thead>
                <tbody id="serviceTableBody" th:each="service : ${serviceList}">
                    <tr data-family-name="${service.profesionalFamilyId.name}" th:if="${service.deleted != 1 and service.studentId?.id == idStudent or service.studentId == null}">
                        <td th:hidden="${service.id}"></td>
                        <td th:text="${service.title}"></td>
                        <td th:text="${service.description}"></td>
						<td th:if="${service.studentId}">
						    <img src="/imgs/cantAssign.png" alt="No puedes" width="40px"/>
						</td>
						<td th:unless="${service.studentId}">
							<a th:href="@{'/student/viewServices/assign/' + ${service.id}}">
								<img src="/imgs/assign.png" alt="Asignar" width="40px"/>
                			</a>
						</td>
                       <td>
						    <th:block th:if="${service.studentId != null and service.finished != 1}">
						        <form th:action="@{'/student/writeReport/' + ${service.id}}" method="get">
						            <button type="submit" class="btn btn-blue">Finish Service</button>
						        </form>
						    </th:block>
						    <th:block th:if="${service.finished == 1}">
						        <a href="#" class="btn btn-success" th:text="'Finished on ' + ${#dates.format(service.happeningDate, 'yyyy-MM-dd')}"></a>
						    </th:block>
						    <th:block th:if="${service.studentId == null}">
						        <button class="btn btn-danger" onclick="showErrorMessage()">Can't Finish</button>
						    </th:block>
						</td>
                        <td th:if="${service.studentId}" th:text="'You are already assigned'" class="green-background"></td>

						<td th:unless="${service.studentId}" th:text="'Not assigned'" class="light-red-background"></td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>