<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Page where students can add themselves to any available service.</title>
<link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
        crossorigin="anonymous">
  <link href="/css/styles.css" rel="stylesheet">
  <style
  >.green-background {
    background-color: lightgreen;
}

.light-red-background {
    background-color: lightcoral;
}
  </style>
</head>
<body class="bodyBusiness">
    <div th:replace="/main/CustomNavbar.html"></div>

    <div class="info-container2">
        <div class="info-block-head">
            <h3>Your Services</h3>
        </div>
        <div class="info-block2">
            <p>List of your services from your Profesional Family</p>
            <table class="tableBusiness">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Assign</th>
                        <th>Finished</th>
                        <th>Assigned</th>
                    </tr>
                </thead>
                <tbody id="serviceTableBody" th:each="service : ${serviceList}">
                    <tr data-family-name="${service.profesionalFamilyId.name}")>
                        <td th:hidden="${service.id}"></td>
                        <td th:text="${service.title}"></td>
                        <td th:text="${service.description}"></td>
						<td th:if="${service.studentId}">
						    <img src="/imgs/cantAssign.png" alt="No puedes" width="40px" onclick="submitCantAssign(this)" />
						</td>
						<td th:unless="${service.studentId}">
						    <img src="/imgs/assign.png" alt="Asignar" width="40px" onclick="submitAssign(this)" />
						</td>
                       <td>
						<a th:if="${service != null and service.finished != 1}" th:href="@{'/student/sendReport?serviceId=' + ${service.id}}" class="btn btn-blue">
						    Conclude
						</a>
						    <button th:if="${service.finished == 1}" class="btn btn-success">
						        Finished
						    </button>
						</td>
                        <td th:if="${service.studentId}" th:text="${service.studentId.name}" class="green-background"></td>
						<td th:unless="${service.studentId}" th:text="'Not assigned'" class="light-red-background"></td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script type="text/javascript">
    function redirectToSendReport(button, serviceId) {
        window.location.href = '/student/sendReport?serviceId=' + serviceId;
    }
	</script>
    
    <script>
    function submitAssign(element) {

        var confirmAssign = confirm("Do you want to assign this service?");
        if (confirmAssign) {
        	
        }
    }
    function submitCantAssign(element) {
        var confirmAssign = confirm("This services is already assigned!");
    }
    function concludeService(element) {
        // Realiza aquí la lógica para concluir el servicio
        // Por ejemplo, puedes mostrar un cuadro de diálogo de confirmación
        var confirmConclude = confirm("Do you want to finish this service?");
        if (confirmConclude) {
            // Aquí puedes realizar la conclusión del servicio si el usuario confirma
            // Ejecutar la conclusión o enviar una solicitud AJAX, según tu lógica
        }
    }
</script>
    
</body>
</html>