@charset "UTF-8";

body {
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.bodyHome {
	background-image: url('/imgs/backgroundHome.jpg');
	background-size: 100% 100%;
}
.bodyAuth{
	background-image: url('/imgs/background.png');
	background-size: 100% 100%;
}

.bodyBusiness{
	background-image: url('/imgs/backgroundBusiness2.jpg');
	background-size: 100% 100%;
}

h1{
	text-align: center;
	
}

.containerHome {
    grid-column: span 1; 
    grid-row: span 1;  
    padding: 20px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 8px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: rgba(248, 249, 250, 0.8);
}
.container {
	width: 300px;
	margin: auto;
	margin-top: 50px;
	padding: 20px;
	border: 1px solid #ddd;
	border-radius: 10px;
	background-color: rgba(248, 249, 250, 0.8);
}
.container image{
	width: 250px;
	height: 250px;
}

.container input {
	width: 100%;
	margin-bottom: 10px;
}

.form-heading {
	text-align: center;
}

.form-group {
	text-align: center;
}

.btn-primary {
	width: 100%;
}

.btn-save {
    padding: 8px 16px; /* Ajusta el padding según tus preferencias */
    min-width: auto; /* Permite que el ancho se ajuste automáticamente al contenido */
    background-color: green; /* Cambia "blue" al color azul que desees */
    color: white; /* Establece el color del texto dentro del botón */
    border: none; /* Elimina el borde del botón si lo deseas */
    border-radius: 5px; /* Elimina el borde del botón si lo deseas */
    cursor: pointer;
}

.btn-add {
    padding: 8px 16px; /* Ajusta el padding según tus preferencias */
    min-width: auto; /* Permite que el ancho se ajuste automáticamente al contenido */
    background-color: #0179fe; /* Cambia "blue" al color azul que desees */
    color: white; /* Establece el color del texto dentro del botón */
    border: none; /* Elimina el borde del botón si lo deseas */
    border-radius: 5px; /* Elimina el borde del botón si lo deseas */
    cursor: pointer;
}

.btn-cancel {
    padding: 8px 16px; /* Ajusta el padding según tus preferencias */
    min-width: auto; 
    background-color: red; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
}

/* Agrega estilos para la disposición de los contenedores */
/* Agrega estilos para la disposición de los contenedores */
.info-container {
  display: inline-block; /* Cambia a display: inline-block */
  width: 30%; /* Ajusta el ancho según tus preferencias */
  vertical-align: top; /* Alinea arriba */
}

.info-container2 {
  display: inline-block; /* Cambia a display: inline-block */
  width: 68%; /* Ajusta el ancho según tus preferencias */
  vertical-align: top; /* Alinea arriba */
}

/* Estilos adicionales si es necesario */
.info-block-head, .info-block-head2 {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: rgba(248, 249, 250, 0.8);
  width: 360px;
}

.info-block2 {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: rgba(248, 249, 250, 0.8);
  width: 1000px;
}

.tableBusiness {
  width: 100%;
  border-collapse: collapse;
}

.thBusiness, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
