<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Add Business</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
<link href="/css/styles.css" rel="stylesheet">
</head>

<body class="bodyAuth">
<div th:replace="/main/CustomNavbar.html"></div>
<br><br><br>
	<div class="container mt-5">
		<form class="form-signin" method="POST" th:action="@{/business/addBusiness}">
			<h2 class="form-heading">Add Business</h2>

			<div class="form-group">
				<input name="name" type="text" class="form-control"
					placeholder="Name" autofocus="true" /> <input name="address"
					type="text" class="form-control" placeholder="Address"
					autofocus="true" /> <input name="email" type="text"
					class="form-control" placeholder="Email" autofocus="true" /> <input
					name="phone" type="phone" class="form-control"
					placeholder="Phone" /> <label>Business Logo</label><input name="logo" type="file" class="form-control" accept="image/*" />

				<input type="hidden" name="${_csrf.parameterName}"
					value="${_csrf.token}" /> <br>
				<button class="btn btn-lg btn-primary" type="submit">Save</button>

			</div>
		</form>
	</div>
</body>
</html>
