<!DOCTYPE html>
<html>
<head>
<title>Admin screen - Colegio Salesiano</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
<div th:replace="/main/CustomNavbar.html"></div>
    <div class="container mt-5">
        <h2 class="text-center">List of Students</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Email</th>
                    <th>Profesional Family</th>
                    <th>Enabled</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="student : ${students}">
                    <td hidden="id" th:text="${student.id}"></td>
                    <td th:text="${student.name}"></td>
                    <td th:text="${student.surname}"></td>
                    <td th:text="${student.username}"></td>
                    <td th:text="${student.profesionalFamily.name}"></td>
                   <td>
                        <img th:if="${student.enabled}" src="imgs/on.png" alt="On" width="40px">
                        <img th:unless="${student.enabled}" src="imgs/off.png" alt="Off" width="40px">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>
