<!DOCTYPE html>
<html>

<head>
<title>Business Screen - Colegio Salesiano</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
		<link href="/css/adminStyles.css" rel="stylesheet">
	
</head>

<body>
	<div th:replace="/main/CustomNavbar.html"></div>
	<div class="container mt-5">
		<div th:if="${success}" class="alert alert-success">
			<p th:text="${success}"></p>
		</div>
		<form action="#" th:action="@{/business/list}" method="GET"
			class="row">
			<div class="col-auto">
				<select id="filterBy" name="filterBy" class="form-control">
					<option value="null">Select an option</option>
					<option value="all">All Services</option>
					<option value="NumberOfServices">Number of services (+ to
						-)</option>
					<option value="NumberOfFinished">Number of finished
						services (+ to -)</option>
				</select>
			</div>
			<br>
			<div class="col-auto">
				<button class="btn btn-primary btn-sm text-uppercase ml-2"
					type="submit">Filter</button>
			</div>
		</form>
	</div>
	<hr>
	<div class="container mt-5">
	<div style="display: flex; justify-content: space-between;"
		class="ml-4">
		<span>
			<h2 class="text-center">List of Business</h2>
		</span> <span> <a th:href="@{/business/addBusiness}"
			class="btn btn-primary">Add Business</a>
		</span>
	</div>
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Adress</th>
				<th>Email</th>
				<th>Phone</th>
				<th>Logo</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="business : ${business1}"
				th:unless="${business.deleted eq 1}">
				<td hidden="id" th:text="${business.id}"></td>
				<td th:text="${business.name}"></td>
				<td th:text="${business.address}"></td>
				<td th:text="${business.email}"></td>
				<td th:text="${business.phone}"></td>
				<td><img
					th:src="${business.logo} != null and ${business.logo} != '' ? '/imgs/business/' + ${business.logo} : '/imgs/business/businessDefault.png'"
					alt="Logo" width="50px" /></td>
				<td>
					<form th:action="@{'/business/editBusiness/' + ${business.id}}"
						method="get">
						<button type="submit" class="btn btn-link p-0 m-0">
							<img src="/imgs/edit.png" alt="Edit img" width="30px">
						</button>
					</form>
				</td>
				<td>
					<form th:action="@{'/business/deleteBusiness/' + ${business.id}}"
						method="post"
						onsubmit="return confirm('¿Estás seguro que quieres cambiar su estado?');">
						<button type="submit" class="btn btn-link p-0 m-0">
							<img src="/imgs/delete.png" alt="Edit img" width="30px">
						</button>
					</form>
				</td>
			</tr>
		</tbody>
	</table>
	</div>
</div>
</body>

</html>