<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/NavbarCSS.css">
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/fontawesome.min.css">
</head>
<body>
	<!-- Navbar -->
	<nav class="navbar">
		<ul class="nav-list">
			<li class="nav-item"><a class="fa fa-school" style="color: #ffffff;"></a></li>
			<li class="nav-item"><a th:href="@{/home}" class="nav-link">Home</a></li>
			<li class="nav-item"><a  href="#" class="nav-link">Contact us</a></li>
			<li class="nav-item"><a href="#" class="nav-link">Professional
					Families</a></li>
			<li class="nav-item"><a href="#" class="nav-link">Businesses</a></li>
		</ul>
		<div class="user-actions">
			<a th:href="@{/login}" class="nav-link"><span class="fas fa-sign-in-alt"></span>Log in</a> <a  href="/register" class="nav-link">Sign
				up</a>
		</div>
	</nav>
</body>
</html>
